<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9869b7">  <td>21/07/03 12:47:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllureTestCase.verifyLogin()[pri:0, instance:TestClasses.AllureTestCase@1817d444]">verifyLogin</td> 
  <td>main@1550207152</td>   <td></td> </tr>
<tr bgcolor="9869b7">  <td>21/07/03 12:47:39</td>   <td>-2978</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllureTestCase.intialize1()[pri:0, instance:TestClasses.AllureTestCase@1817d444]">&gt;&gt;intialize1</td> 
<td>&nbsp;</td>  <td>main@1550207152</td>   <td></td> </tr>
<tr bgcolor="9869b7">  <td>21/07/03 12:47:42</td>   <td>56</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AllureTestCase.tearDown()[pri:0, instance:TestClasses.AllureTestCase@1817d444]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1550207152</td>   <td></td> </tr>
</table>
