<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f7d0bd">  <td>21/06/27 10:50:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllureReportTest.intialize1()[pri:0, instance:TestClasses.AllureReportTest@7a69b07]">&gt;&gt;intialize1</td> 
<td>&nbsp;</td>  <td>TestNG-test=chrome-1@694398176</td>   <td></td> </tr>
<tr bgcolor="f7d0bd">  <td>21/06/27 10:50:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllureReportTest.intialize1()[pri:0, instance:TestClasses.AllureReportTest@7a69b07]">&gt;&gt;intialize1</td> 
<td>&nbsp;</td>  <td>TestNG-test=chrome-1@694398176</td>   <td></td> </tr>
<tr bgcolor="f7d0bd">  <td>21/06/27 10:50:21</td>   <td>7762</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AllureReportTest.tearDown()[pri:0, instance:TestClasses.AllureReportTest@7a69b07]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=chrome-2@643086791</td>   <td></td> </tr>
<tr bgcolor="f7d0bd">  <td>21/06/27 10:50:21</td>   <td>7762</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AllureReportTest.tearDown()[pri:0, instance:TestClasses.AllureReportTest@7a69b07]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=chrome-2@643086791</td>   <td></td> </tr>
<tr bgcolor="f7d0bd">  <td>21/06/27 10:50:17</td>   <td>2897</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllureReportTest.verifyLogin()[pri:0, instance:TestClasses.AllureReportTest@7a69b07]">verifyLogin</td> 
  <td>TestNG-test=chrome-1@694398176</td>   <td></td> </tr>
<tr bgcolor="f7d0bd">  <td>21/06/27 10:50:17</td>   <td>2897</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllureReportTest.verifyLogin1()[pri:0, instance:TestClasses.AllureReportTest@7a69b07]">verifyLogin1</td> 
  <td>TestNG-test=chrome-2@643086791</td>   <td></td> </tr>
</table>
